.btn{
    border: none;
    outline: none;
    text-decoration: none;
    color: #000;
    padding: 0 40px;
    font-family: $titleFont;
    font-size: 15px;
    background: $mainColor;
    border-radius: 5px;
    transition: background .2s;
    &:hover{
        cursor:pointer;
        background: darken($mainColor, 10)
    }
}

@media (max-width: 768px){
    .btn{
        font-size: 25px;
    }
}