.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 850px;
    font-size: 20px;
    height: 130px;
    background: $mainColor;
    margin: 0 auto;
}

.footer__text{
    margin-bottom: 10px;
}

.footer__social{
    a{
        font-size: 30px;
        margin: 0 5px;
        color: #000;
        transition: color .2s;

        &:hover{
            color: lighten(#000, 20);
        }

    }
}

@media (max-width: 560px){
    .footer__social{
        a{
            font-size: 20px; 
        }
    }
}